$bg-color: #202020;
$bg-color-second: #121212;
$primary-color: #c740d3;
$primary-color-darker: #5d0960;
$secondary-color: #e163da;
$text-color: #C8C8C8;
$secondary-text-color: #999;
$text-color-light: #fff;